# Node
node_modules/
dist/
npm-debug.log
pnpm-lock.yaml
yarn.lock
.env
.vscode/

# Rust
**/target/
**/pkg/
**/*.rs.bk

# wasm-pack / wasm output
apps/**/pkg/
apps/**/target/
*.wasm

# OS
.DS_Store
Thumbs.db

# Vite / build
/.vite
/.turbo
/.cache

# IDE/editor
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Temporary files
*.tmp
*.temp
*.swp

Cargo.lock
todo.md
.vercel
.env*.local
STORAGE_SETUP.md

ZynqOS-User-Repository/