@import "tailwindcss";

html,
body,
#root {
  height: 100%;
}

body {
  font-family: ui-sans-serif, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
}

.terminal-scrollbar .xterm-viewport::-webkit-scrollbar-track {
  background: transparent !important;
}

.terminal-scrollbar .xterm-viewport::-webkit-scrollbar-thumb {
  background: #444 !important;
  border-radius: 1px !important;
}

.terminal-scrollbar .xterm-viewport::-webkit-scrollbar-thumb:hover {
  background: #666 !important;
}

.terminal-scrollbar .xterm-viewport {
  scrollbar-width: thin !important;
  scrollbar-color: #444 transparent !important;
}

.terminal-scrollbar .xterm-viewport::-webkit-scrollbar {
  background-color: transparent;
  width:0.4vw
}

.terminal-scrollbar .xterm-screen::-webkit-scrollbar {
  width: 2px !important;
  height: 2px !important;
}

/* Force override xterm scrollbar */
.terminal-scrollbar .xterm .xterm-viewport::-webkit-scrollbar {
  width: 2px !important;
}

.xterm-viewport::-webkit-scrollbar {
  width: 2px !important;
}

.xterm-viewport::-webkit-scrollbar-thumb {
  background: #444 !important;
  border-radius: 1px !important;
}

.xterm-viewport::-webkit-scrollbar-track {
  background: transparent !important;
}
.xterm-viewport::-webkit-scrollbar-button {display:none}

.scrollbar::-webkit-scrollbar {
  background-color: transparent;
  width:0.4vw
}

.scrollbar::-webkit-scrollbar-track {
  background-color:transparent
}
.scrollbar::-webkit-scrollbar-track:hover {
  background-color:transparent
}

.scrollbar::-webkit-scrollbar-thumb {
  background-color:#404040;
  border-radius:16px;
  border:5px solid transparent
}
.scrollbar::-webkit-scrollbar-thumb:hover {
  background-color:#404040;
}

.scrollbar::-webkit-scrollbar-button {display:none}